footer{
    background-color: rgb(148, 191, 248);
    font-family: fantasy;
    font-size: 20px;
    font-weight: bold;
}

footer img   {
    display: block;
    border-radius: 5px;
    width: 40px;
    margin: 0 auto 10px;
  }